---
export interface Props {
  pageTitle?: string;
  title?: string;
  description?: string;
  og?: {
    type?: string;
    title?: string;
    sitename?: string;
    image?: string;
    twitter?: {
      card?: string;
      site?: string;
      creator?: string;
    };
  };
  jsonld?: {
    attype?: string;
    author?: {
      type?: string;
      name?: string;
      url?: string;
    };
  };
}
import { meta } from "@eslint/js";
import { SITE_TITLE } from "../consts";
const { pageTitle, title, description, og, jsonld } = Astro.props;

const metadata = {
  title: title ?? (pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE),
  description: description ?? "新入生情報Web 2025",
  og: {
    type: og?.type ?? "website",
    title:
      og?.title ?? (pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE),
    sitename: og?.sitename ?? SITE_TITLE,
    image: og?.image ?? Astro.site + "og.png", //完全修飾URLである必要がある
    twitter: {
      card: og?.twitter?.card ?? "summary_large_image",
      site: og?.twitter?.site ?? "@public_zdk",
      creator: og?.twitter?.creator ?? "@public_zdk",
    },
  },
  jsonld: {
    attype: jsonld?.attype ?? "WebSite",
    author: {
      attype: jsonld?.author?.type ?? "Organization",
      name: jsonld?.author?.name ?? "全学学類・専門学群・総合学域群代表者会議",
      url: jsonld?.author?.url ?? "https://www.zdk.tsukuba.ac.jp",
    },
  },
};

const jsonldStringfy = JSON.stringify({
  "@type": metadata.jsonld.attype,
  author: [
    {
      "@type": metadata.jsonld.author.attype,
      name: metadata.jsonld.author.name,
      url: metadata.jsonld.author.url,
    },
  ],
});
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta property="og:title" content={metadata.og.title} />
    <meta property="og:site_name" content={metadata.og.sitename} />
    <meta property="og:image" content={metadata.og.image} />
    <meta name="twitter:card" content={metadata.og.twitter.card} />
    <meta property="twitter:site" content={metadata.og.twitter.site} />
    <meta property="twitter:creator" content={metadata.og.twitter.creator} />
    <script type="application/ld+json" set:html={jsonldStringfy} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --font-base:
      -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
    --text-color: #000;
    --link-color: #777;
    --visited: #444;
    --border-color: #bbb;
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-base);
  }
</style>
